.cart-item {
    display: flex;
    flex-direction: column;  
    gap: 10px;
    padding: 20px;
    background-color: #fff;  
    border: 1px solid #ccc;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    margin-bottom: 20px;  
  }
  

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .quantity-control button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quantity-control button:hover {
    background-color: #0056b3;
  }
  
  .remove-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
    align-self: flex-end;  
  }
  
  .remove-item:hover {
    background-color: #f0f0f0;
    color: darkred;
  }
  
  .total-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }
  
  .total-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .total-button:hover {
    background-color: #218838;
  }
  