.navbar {
  display: flex;
  justify-content: space-between; /* Espacia los elementos a los extremos */
  align-items: center;
  padding: 15px 30px;
  background-color: hsl(195, 56%, 29%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #f1f1f1;
}

.cart-widget-container {
  margin-left: auto; /* Mueve el carrito a la derecha */
}

.cart-widget {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.cart-widget:hover {
  transform: scale(1.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
